port: 0
id: 0
hash: ""
site: ""
botTokens:
  - "123456:AAAA_BOT_TOKEN_1"
  - "789012:BBBB_BOT_TOKEN_2"
# proxy: "socks5://127.0.0.1:7890"  # 可选: 代理服务器地址, 格式为 socks5://ip:port 或 http://ip:port, 为empty 则不使用代理
debug: false
password: ""
userID: 0
workers: 1
maxSize: 33554432
adminIDs: []
whiteIDs: []
channels: []
userBots:
  - name: user1
    phone: "+8613800000000"
    # password: "2FA密码(可选)"
    # userID: 123456789
    # dc: 4
  - name: user2
    phone: "+8613900000000"
    # password: "2FA密码(可选)"
download:
  enabled: true
  outputDir: downloads
  # 如果路径为相对路径, 它相对于运行二进制的当前工作目录 (cwd)
  # 定时扫描间隔(秒), 0 表示不扫描, 默认 0
  # scanInterval: 300
  globalTypes:
    - video
    - photo
  # 如果文件名存在这个就跳过
  skipNameContains:
    - ""
  # 并发下载的频道数量限制, 0 表示不限制 (建议根据机器网络/磁盘能力设置为 2-8)
  concurrent: 2
  fileWorkers: 4
  rclone:
    enabled: false
    # configFile: C:/Users/Administrator/.config/rclone/rclone.conf
    # transferMode: move
    # remote: myremote:downloads
  channels:
    # 方式1: 只使用 join URL (推荐，系统会自动解析频道ID)
    - join: "https://t.me/channelname"
      fromMessageID: 1
      types:
        - video
    
    # 方式2: 使用频道ID (需要提前查询到ID)
    # - id: -1001234567890
    #   fromMessageID: 1
    #   user: user1
    #   types:
    #     - video
